<%- include('partials/head.ejs')%> <%- include('partials/navbar.ejs')%>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Cadastrar Produto</h1>
      <hr>
    </div>
    <div class="card-body">
      <form action="/produtos/new" method="post" enctype="multipart/form-data">

        <label for="">Imagem</label>
        <input type="file" name="imagem" id="imagem" required>
        <br>
        <label for="">Nome</label>
        <input type="text" name="nome" id="nome" required class="form-control">
        <label for="">Preço</label>
        <input type="text" name="preco" id="preco" required class="form-control">
        <label for="categoria">Categoria</label>
        <br>
        <select name="categoria" id="categoria">
          <option value="camisetas">Camisetas</option>
          <option value="calcas">Calças</option>
          <option value="shoes">Tênis</option>
        </select>
        <br>
       <br>
       <input type="submit" class="btn btn-success" value="Cadastrar">
      </form>
    </div>
  </div>
</div>
<div class="container-fluid cover">
    <h1>Produtos</h1>
    <table class="table table-striped table-light ">

      <thead class="thead-dark">
        <tr>
          <th scope="col">
            <div class="containe-fluidr">
              <img src="/imgs/picture.png" class="icon"  alt="">
            </div>
            
          </th>
          <th scope="col">Nome</th>
          <th scope="col">Preco</th>
          <th scope="col">Categoria</th>
        </tr>
      </thead>
      <tbody>
        <% produtos.forEach((p)=> { %>
        <tr>
          <td>
            <div class="container">
              <img src=<%= p.imagem%> class="img-fluid imgicon" alt="">
            </div>
          </td>
          <td><%= p.nome %></td>
          <td>R$ <%= p.preco %></td>
          <td> <%= p.categoria %></td>
          <td><a style="color:orange" href="/produtos/edit/<%=p.id%>">Editar</a></td>
          <td><a style="color:red" href="/produtos/delete/<%=p.id%>">Excluir</a></td>
        </tr>
        <% }) %>

      </tbody>
    </table>
</div>
<%- include('partials/footer.ejs')%>
